.todos{
    width: 100%;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.todo-table{
    width: 100%;
    border-spacing: 1px;
}

.todos tr{
    background-color: lightgray;
}

td{
    padding: 12px !important;
}

.todos tr:hover, tr:hover .colored-select {
    background-color: grey;
}

.todos th {
    padding: 12px;
    text-align: left;
    background-color: var(--accent);
    color: white;
}
.todos td {
    color: black;
}
